@font-face {
    font-family: 'colorfont';
    src: url('./ResotE-Rose-89c1.woff') format('woff2'),
    url('./ResotE-Rose-89c1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: colorfont;
    background: url('./standup.png');
}

